doctype html
html
    head 
        title Welcome to Blood Bank Management System
        link(rel='stylesheet', href='css/mainStyle.css')
    body
    #container1
        form(action='post-test', method='post')
        #button
            button(type='submit' class='create') Become A Donor!
        #button
            button(type='submit' class='create') Register Patient